.container {
  height: 70px;
  background-color: white;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  margin: 0 auto;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cartMenu {
  font-size: 14px;
  cursor: pointer;
  margin-right: 25px;
}

ul {
  display: flex;
  align-items: center;
}
ul > li.menuItem {
  margin: 0 5px;
}
.hostButton {
  background-color: #ff5722;
  color: #efefef;
  border: none;
  text-align: center;
  padding: 15px 20px;
  border-radius: 25px;
}

.loginButton {
  background-color: #373991;
  display: flex;
  justify-content: space-between;
  color: #efefef;
  border: none;
  text-align: center;
  padding: 15px 20px;
  border-radius: 25px;
  text-transform: uppercase;
}