.container {
  min-height: 620px;
  display: flex;
  z-index: 0;
  overflow: hidden;
  background-size: cover !important;
  background-position: center !important;
  background-image: url("/public/assets/images/header-home.svg");
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.container::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 1582px;
  height: 166px;
  background-color: white;
  right: -86px;
  transform: rotate(3deg);
  bottom: -106px;

}

.container::after{
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 740px;
  height: 166px;
  background-color: white;
  left: -33px;
  transform: rotate(3deg);
  bottom: -81px;

}
.wrapper {
  z-index: 2;
  text-align: center;
}

.title p {
  font-size: 30px;
  color: #fff;
  font-family: "Niconne", cursive;
  font-weight: 500;
}

.description p {
  color: #fff;
  font-weight: 600;
  margin-top: 5px;
  display: block;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 1.1;
}
