.container {
  width: 1200px;
  border-radius: 100px;
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
  overflow: hidden;
  background: #fff;
  z-index: 2;
}
.wrapper {
  width: 100%;
  padding-left: 1%;
  height: 68px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.select__country {
  width: 80%;
}
.border__right {
  border-right: 1px solid #0000000d;
}
.rs-icon {
  display: none !important;
}
