.container {
    height: 70px;
    background-color: #f5ebebed;
}

.wrapper {
    padding: 12px 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.menuItem {
    cursor: pointer;
    margin-left: 25px;
}

.menuItemArrow {
    position: relative;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hostButton {
    background-color: #ff5722;
    color: #efefef;
    border: none;
    text-align: center;
    padding: 15px 20px;
    border-radius: 25px;
}