.container {
    height: 70px;
    background-color: #f5ebebed;
}

.wrapper {
    padding: 12px 20px; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    margin: 0 auto;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.menuItem {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 25px;
}

.menuItem:hover {
    color: #ff5722;
}

.dropDownContent {
    position: absolute;
    left: 0;
    top: calc(100% + 1.4rem); /* Dropdown height */
    background-color: white;
    padding: .75rem;
    border-radius: 0.50rem;
    min-width: 160px;
    opacity: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: opacity 250ms ease-in-out;
    z-index: 1;
}

.dropDownContent span {
    border-bottom: 0.1px solid rgb(231, 231, 231);
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menuItem:hover > .dropDownContent {
    opacity: 1;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hostButton {
    background-color: #ff5722;
    color: #efefef;
    border: none;
    text-align: center;
    padding: 15px 20px;
    border-radius: 25px;
}