.container {
  margin: 0 1200px;
  border-radius: 0.6rem;
  background: #fff;
  display: flex;
  z-index: 2;
}
.wrapper {
  width: 100%;
  align-items: center;
  display: flex;
}

.input {
  margin: 0 15px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.input:not(:nth-child(3)) {
  border-right: 1px solid black;
}
.input  input {
  margin-top: 10px;
  padding: 5px;
  border: unset;
}

.input  label {
  margin-left: 5px;
  margin-top: 15px;
  color: #707e9c;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
  display: block;
}

.input  input:focus-visible {
  border: unset !important;
}

@media (min-width: 1024px) {
    .location {
    width: 300px;
  }
    .dates {
    width: 200px;
  }
}
