.justifyCenter {
  justify-content: center;
}

.centerColumn {
  align-items: center;
}

.fullSize {
  width: 100%;
}

.wrap {
  overflow-wrap: anywhere;
  flex-wrap: wrap;
}

.flexColumn {
  flex-direction: column;
}
