.select {
  padding: 10px;
  border: unset;
}

.input {
  padding: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 100%;
  margin-right: 50px;
  border: unset !important;
}
svg {
  margin: 0 10px;
}
.input:hover {
}

.label {
  pointer-events: none;
  color: #707e9c;
  font-size: 20px;
  position: absolute;
  transition: all 0.5s ease-in-out;
  font-weight: 500;
  top: 25%;
  left: 8%;
}

.input:focus-visible {
  border: unset !important;
}

.divInput {
  padding: 8px;
  border-radius: 4px;
  margin: 10px 20px 10px 0px !important;
  border: 1px solid rgb(173 172 172 / 42%);
}

.divInput:hover {
  border: 1px solid rgba(0, 0, 0, 0.6) !important;
}

.relative {
  position: relative;
}

select:focus,
input:focus {
  outline: none;
}

.inputClicked {
  left: 6%;
  top: -2%;
  background-color: white;
  font-size: 17px !important;
  transition: all 0.5s ease-in-out;
}

.ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  width: 100%;
  top: 86%;
  z-index: 5;
  padding-left: unset;
  left: 0;
  overflow-y: scroll;
  height: 0px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.li {
  padding: 15px;
  cursor: pointer;
  list-style: none;
  margin-left: 0px !important;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba(153, 153, 153, 0.144);
}

.li:hover {
  transition: all 0.5s ease-in-out;
  background-color: #a5a1a11f;
}

.show {
  transition: all 0.5s ease-in-out;
  height: 200px;
}

.ul::-webkit-scrollbar {
  width: 0px;
}
