.btn{
    border-color: #ff5722;
    text-align: center;
    background: #ff5722;
    margin-right: 15px;
    border-radius: 30px;
    white-space: nowrap;
    text-transform: uppercase!important;
    transition: all ease .4s;
    letter-spacing: .8px;
    font-size: 1rem;
    line-height: 1.25;
    border: 2px solid transparent;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #ffffff !important;
}
.btn:hover{
    text-decoration: none; 
}